@import "tailwindcss";

:root {
  --fg: #d2d5e0;
  --bg: #2b2e3b;
  color: var(--fg);
  background-color: var(--bg);
}

svg {
  --size: 34px;
  width: var(--size);
  height: var(--size);
}

.oscilla:hover {
  animation: oscillate 500ms ease-in-out infinite;
}

@keyframes oscillate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
